/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
     
    overflow-x: hidden; 
}
.outter-div{
    width: 100%; 
    display:flex; 
    height: 100px;
}
.first-inner-div{
    width: 50%;
    height: auto;
}
.second-inner-div{
    width: 50%;
    height: auto;   
}


.spotify-logo{
    height: 70px;
    width: 160px;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 50px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cover {
    width : 100%;
    height: 600px;
    line-height: 100px;
    text-align: center;
    background-image: url('./../images/landing.jpg');
    background-size: contain;
    margin: auto;
    position: relative;
    padding-top: 130px;
}
.cover p {
    color: #FFF;
    font-size: 22px;
    margin: auto;
    text-align: center;
    line-height: normal;
    width: 70%;
    padding-top: 15px;
}

h1 {
    color: #FFF;
}


.title {
    text-align: center;
    text-decoration: underline; 
    text-decoration-color: #00B172;
    padding-top: 40px;
    font-size: 30px;
 } 

ul {
   list-style: none; 
   display: inline-flex;
   float:right;
   margin-right: 100px;
   line-height: 50px;
   
   
} 
ul>li{
    padding-right: 20px;
}

ul a {
    text-decoration: none;
    padding: 5px; 
    color: black;
    width: 45%;
    font-size: 22px;
}
article{
    
    padding:50px
}
article img {
    width: 100px;
    height: 100px;
}

article h3 {
    color: #00B172;
}

.info{
    width: 100%;
    justify-content: space-between;
    text-align: center;
    display: inline-flex;
    padding-top: 40px;  
    
}

.info p {
    display:inline;
}

.info h3 {
    font-size: 30px;
}

.green-cover {
    background-color: #00B172;
    width: 100%;
    height: 800px;
    color: #FFF;
}
.white-logo {
    width: 130px;
    height: 130px;
    display: inline; 
    position: relative;
    left: 45%;
    bottom: 800px;
    
}

.app-icon {
    height: 550px;
    position: relative;
    display: inline-block;
    left: 65%;
    bottom: 600px
}
span{
    display: block;
}
.green-cover  > h4, p {
    
    font-size: 30px;
    margin-left: 100px;
}

.green-cover h2 {
    text-decoration: underline;
    font-size: 45px;
    margin-left: 100px;
    padding-top: 70px;
}

.bounce{
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}
